@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 12px 0;
    align-items: center;
    background: #3c3a39;
  }

  .logo {
    width: 77px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .humburger {
    margin-right: 24px;
    color: #fff;
  }

  .humburger:hover {
    color: aqua;
  }

  .main-content {
    background-image: url("homebg.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #1c1a19;
    margin-top: -47px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .heading1 {
    width: 327px;
    height: 124px;
    padding-top: 120px;
    color: #ff6b00;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
  }

  .heading3 {
    color: white;
    margin: -5px 0;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }

  .myinfo {
    width: 327px;
    height: 123px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  ul {
    list-style-type: none;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    height: 20px;
    /* list-style-type: none; */
    text-decoration: none;
    gap: 20px;
    margin-left: -20px;
    padding-bottom: 130px;
  }

  li a {
    color: white;
    font-size: 25px;
  }
  /* Work-section */
  .work-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
    /* height: auto; */
  }

  .work-title {
    margin-top: 120px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding: 30px 0;
    line-height: 52px;
    border: none;
  }

  .story-title {
    font-style: "Crete Round", serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
  }

  .story-info {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .my-skills {
    display: flex;
    gap: 35px;
    margin-left: -40px;
  }

  .my-skills li {
    border: 1px solid #8993a4;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
  }

  .my-btn {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    background: #ff6b00;
    padding: 5px;
    border: none;
  }

  .card-container {
    display: grid;
    margin: 24px;
  }

  .cards-content {
    display: flex;
    flex-direction: column;
    background-image: url("./Images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* align-items: center; */
  }
  .cards-heading {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 84px;
    font-size: 32px;
    margin-left: 16px;
    line-height: 44px;
    color: #ffffff;
  }
  .cards-info {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 24px;
    color: #fff;
  }

  .cards-list li {
    display: inline-flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.24);
  }

  .pro-btn {
    background: #ff6b00;
    padding: 5px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    width: 100%;
  }
}
