body {
  margin: 0;
  padding: 0;
}

.menu-bar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 10px 30px 0 0;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.hidden-menu {
  display: none;
}

.menu-bar .close-btn {
  align-self: flex-end;
  margin-right: 20px;
  background: none;
  color: #67798e;
  border: none;
  font-size: 25px;
}

.menu-bar .menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;
}

.menu-mobile a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  padding-left: 35px;
}

.menu-mobile .newline {
  color: white;
  height: 1px;
  width: 90%;
  margin-right: 500px;
  align-self: flex-start;
}

.container {
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
  background: #3c3a39;
}

.dec-list {
  display: none;
}

.logo {
  width: 77px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.humburger {
  margin-right: 24px;
  color: #fff;
  order: 1;
}

.humburger:hover {
  color: aqua;
}

.main-content {
  background-image: url("homebg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #1c1a19;
  margin-top: -56px;
  padding: 0 24px;
}

.heading1 {
  height: 124px;
  padding-top: 120px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

.heading3 {
  color: white;
  margin: -5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.myinfo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  padding-right: 90px;
}

ul {
  list-style-type: none;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  text-decoration: none;
  gap: 30px;
  padding-bottom: 130px;
}

.social a {
  color: white;
  font-size: 25px;
  margin-left: -15px;
}

.work-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
  width: 100vw;
}

.work-title {
  margin-top: 60px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0;
  line-height: 52px;
  margin-right: 24px;
}

.desktop-hr {
  margin: 20px 0 80px;
}

.work-image {
  width: 95%;
}

.story-title {
  font-style: "Crete Round", serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
}

.story-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-right: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.my-skills {
  display: flex;
  gap: 35px;
  margin-left: -40px;
}

.my-skills li {
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 5px;
}

.my-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  padding: 10px 5px;
  border: none;
}

.cards-container {
  display: grid;
  grid-template-columns: auto;
  margin-left: 24px;
  margin-right: 24px;
}

.cards-content {
  display: flex;
  flex-direction: column;
  background-image: url("./Images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 84px;
  font-size: 32px;
  margin-left: 16px;
  line-height: 44px;
  color: #fff;
}

.cards-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 24px;
  color: #fff;
}

.cards-list {
  display: flex;
  gap: 40px;
  margin-left: -20px;
}

.cards-list li {
  padding: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.pro-btn {
  background: #ff6b00;
  padding: 15px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  width: 100%;
}

.about-lang-cont {
  background-color: #1c1a19;
  margin-top: 120px;
  padding-bottom: 150px;
}

.about-section {
  background-image: url("./Images/aboutbg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  padding-top: 120px;
  margin-left: 24px;
}

.hori {
  border: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 100px;
}

.about-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.about-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-right: 24px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 40px;
}

.about-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  padding: 10px;
  margin-bottom: 200px;
  border: none;
}

.lang-section {
  margin-top: -20px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
}

.lang-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

.contact-section {
  padding-top: 80px;
}

.para-info {
  width: 327px;
  height: 216px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 0 24px;
}

form {
  margin-top: 150px;
  margin-left: -50px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  border: none;
}

.hr-input {
  background: #dbd8d7;
  margin: 14px 20px;
}

.user-info {
  width: 300px;
  padding: 14px;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  height: 114px;
  width: 327px;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background: #fbf8f7;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

input:focus,
textarea:focus {
  outline: none;
}

.btn-class {
  display: flex;
  justify-content: center;
}

.submit {
  color: #fff;
  background: #ff6b00;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
}

.my-line {
  margin-top: 124px;
}

.my-contacts {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cont-list a {
  color: #091e42;
}

.cont-list > i {
  color: gray;
}

.border {
  margin: 23px 8px 8px 205px;
  background: #0d151e;
  width: 100px;
  height: 5px;
}

.cards-desktop {
  display: none;
}

.desktop-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .cards-content {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background: #3c3a39;
    height: 120px;
    padding-bottom: 60px;
  }

  .logo {
    margin-left: -100px;
  }

  .humburger {
    display: none;
  }

  .dec-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .social-icons a {
    font-size: 16px;
  }

  .dec-list li a {
    color: #fff;
    text-decoration: none;
  }

  .main-content {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    height: auto;
    padding-top: 200px;
    background-image: url("desktop.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #1c1a19;
  }

  .myinfo {
    margin-right: 560px;
    size: 20px;
    padding-right: 200px;
  }

  .div1 {
    border: 2px;
    margin-bottom: 30px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .heading3 {
    margin-top: 50px;
  }

  .social-icons {
    margin-top: 150px;
    margin-bottom: 200px;
    padding-bottom: 100px;
    order: -1;
    gap: 10px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .cards:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 5px black;
    transition: 500ms;
  }

  .desktop-hr {
    width: 700px;
    float: inline-end;
    margin-left: 400px;
    margin-top: -85px;
  }

  .work-title {
    margin-top: 50px;
    max-width: 350px;
    color: #091e42;
  }

  .story-title {
    margin-top: 100px;
  }

  .story-info {
    margin-right: 140px;
  }

  .work-image {
    height: 396px;
    width: 567px;
    margin-top: 26px;
    float: left;
    margin-right: 24px;
    margin-left: 50px;
  }

  .my-skills {
    display: inline-flex;
    gap: 12px;
  }

  .cards-desktop {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
    margin-left: 74px;
    margin-right: 74px;
    gap: 20px 10px;
  }

  .heading-desk {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
  }

  .cards p {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .desktop1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("cardsimage/bg1.png");
    background-repeat: no-repeat;
  }

  .desktop1:hover {
    border: 0.1px solid #262626;
  }

  .btn-desk {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700px;
    background: #f55800;
    color: #fff;
    padding: 10px;
    border: none;
  }

  .desktop2 {
    background-image: url("cardsimage/bg2.png");
    background-repeat: no-repeat;
    padding: 80px 0 20px 5px;
  }

  .desktop3 {
    background-image: url("cardsimage/bg3.png");
    background-repeat: no-repeat;
    padding: 120px 0 20px 5px;
  }

  .desktop4 {
    background-image: url("cardsimage/bg4.png");
    background-repeat: no-repeat;
    padding: 80px 0 20px 5px;
  }

  .desktop5 {
    background-image: url("cardsimage/bg2.png");
    background-repeat: no-repeat;
    padding: 80px 0 20px 5px;
  }

  .desktop6 {
    background-image: url("cardsimage/bg3.png");
    background-repeat: no-repeat;
    padding: 120px 0 20px 5px;
  }

  .cards ul {
    display: flex;
    gap: 5px;
  }

  .cards ul > li {
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
    padding: 10px 12px;
  }

  .about-section {
    background-image: url("cardsimage/aboutFrame.png");
    background-repeat: no-repeat;
    background-position: 100% 55%;
  }

  .about-heading {
    margin-top: -20px;
  }

  .about-info {
    max-width: 400px;
  }

  .about-btn:hover {
    opacity: 0.7;
  }

  .about-btn:active {
    opacity: 0.3;
  }

  .lang-section {
    display: flex;
    justify-content: space-around;
  }

  .border {
    display: none;
  }

  .mobile-contact {
    display: none;
  }

  .desktop-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -80px;
  }

  textarea {
    width: 600px;
    text-align: left;
  }

  .btn-class {
    margin-left: -474px;
  }
}
